
.flexbox {
    display: flex;
    width: 90%;
    margin: 0 auto;
    flex-wrap: wrap;
    flex-direction: column;
}
.item {
    display: block;
    flex-basis 100%;
    padding: 10px;
    flex:1;
}
 

@media (min-width: 768px) {
    .picture {
        flex-basis 25%;
    }
}